{% extends 'base.html' %}

{%load static%}

{%block style%}
<!-- Підключення стилів -->
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">
<!-- Підключення шрифту з Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
<!-- Підключення JS -->
    <script src="{% static 'css/style.js' %}"></script>
{% endblock%}

{% block content %}
<section>
<div class="login-form">
    <h1>login</h1>
    <form action="{% url 'home' %}" method="post">

        {% csrf_token %}

        <form>
  <div class="login-search">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
  </div>
  <div class="login-search">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
</div>
</section>
{% endblock%}


