{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block style %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% include 'home/navbar.html' %}
    <title>Document</title>
</head>
<body>


    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>

</body>
</html>
