{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>window.TRANSLATIONS_URL = "{% static 'js/translations.json' %}";</script>

    {% block style %}{% endblock %}
</head>
<body>

{% include 'home/navbar.html' %}

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</div>

<script src="{% static 'css/style.js' %}"></script>
</body>
</html>
