{% extends 'base.html' %}

{% block content %}
<header>
    <h1>типу сайтік йоу</h1>
    <nav>
        <a href="{%url 'login' %}" class="button_login">логін</a>
    </nav>
</header>

    <h1>Add nav bar</h1>
    <form action="{% url 'home_page' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name">
        <input type="text" name="url">
        <button type="submit">Add nav</button>
    </form>

    {%for item in nav_content%}
        <h2>{{item.name}}</h2>
    {% endfor %}

{% endblock %}