{%load static%}

<nav class="crumbs_h">
  <ul>
    <li class="crumb"><a href="{% url 'home' %}">| Home |</a></li>
    {% if user.is_authenticated %}
        <li class="crumb"><a href="{% url 'logout' %}">| Logout |</a></li>
    {% else %}
        <li class="crumb"><a href="{% url 'register' %}">| Register |</a></li>
        <li class="crumb"><a href="{% url 'login' %}">| Login |</a></li>
    {% endif %}
    <div class="user_member">
    <a href="{% url 'register' %}"><img src="{% static 'images/user_member.png' %}" alt="Logo" width="30" height="30" ></a>
    </div>
  </ul>
</nav>