{% load static %}

<nav class="crumbs_h">
  <ul>
    <!-- (цей form для Django i18n можна прибрати у JSON-варіанті) -->
    <!-- <form action="{% url 'set_language' %}" method="post"></form> -->

    <li class="crumb"><a href="{% url 'home' %}" data-key="home">| Home |</a></li>
    {% if user.is_authenticated %}
      <li class="crumb"><a href="{% url 'logout' %}" data-key="logout">| Logout |</a></li>
    {% else %}
      <li class="crumb"><a href="{% url 'register' %}" data-key="register">| Register |</a></li>
      <li class="crumb"><a href="{% url 'login' %}" data-key="login">| Login |</a></li>
    {% endif %}
  </ul>

  <div class="language">
    <div class="current">EN</div>
    <ul class="lang-list">
      <li data-lang="uk">UA</li>  
      <li data-lang="en">EN</li>
    </ul>
  </div>

  <div class="user_member">
    <a href="{% url 'register' %}">
      <img src="{% static 'images/user_member.png' %}"
          width="30" height="30"
          alt="User profile"
          title="User profile"
          data-key-alt="user_icon"
          data-key-title="user_icon">
    </a>
  </div>
</nav>
